[Desktop Entry]
Encoding=UTF-8
Name=Link to lwgray/upvotes: Predicting Upvotes based on your Reddit Post title
Type=Link
URL=https://github.com/lwgray/upvotes
Icon=text-html
