[Desktop Entry]
Encoding=UTF-8
Name=Link to Predicting the Success of a Reddit Submission with Deep Learning and Keras
Type=Link
URL=http://minimaxir.com/2017/06/reddit-deep-learning/
Icon=text-html
